<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="GalaxyQuest Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="GalaxyQuest Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
        <testsuite name="GalaxyQuest Performance">
            <directory suffix="Test.php">tests/Performance</directory>
        </testsuite>
    </testsuites>
</phpunit>
